<%= form_with(model: instructor_email, local: true) do |form| %>
  <% if instructor_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instructor_email.errors.count, "error") %> prohibited this instructor_email from being saved:</h2>

      <ul>
      <% instructor_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="rvt-container">
    <div id = "send_options" class="rvt-grid">
      <div class="field rvt-grid__item-12">
        <%= form.radio_button :send_option, 'current_semester', id: :send_option_current_semester %>
        <%= label_tag :send_option_current_semester, 'Current Semester' %>
      </div>

      <div class="field rvt-grid__item-12">
        <%= form.radio_button :send_option, 'select_semester', id: :send_option_select_semester %>
        <%= label_tag :send_option_select_semester, 'Selected semester' %>
      </div>

      <div id="semester-select" class="field rvt-grid__item-12" style="display:none;">
        <%= form.collection_select :semesters, Semester.all, :id, :semester, {include_blank: true}, {multiple: true} %>
      </div>

      <div class="field rvt-grid__item-12">
        <%= form.radio_button :send_option, 'instructors', id: :send_option_instructors %>
        <%= label_tag :send_option_instructors, 'Listed Instructors' %>
      </div>

      <div id="instructor-list" class="field rvt-grid__item-12" style="display:none;">
        <%= form.text_field :instuctors, id: :instructor_email_instuctors %>
      </div>
    </div>
    <div class="rvt-grid"
      <div class="field rvt-grid__item-12">
        <%= form.label :library %>
        <%= form.collection_select :library_id, Library.all, :id, :name %>
      </div>

      <div class="field rvt-grid__item-12">
        <%= form.label :message %>
        <%= form.text_area :message, id: :instructor_email_message %>
      </div>

    </div>
  </div>


  <div class="actions">
    <%= form.submit 'Save', class: 'rvt-button' %>
  </div>
<% end %>
