<p id="notice"><%= notice %></p>

<h1>Instructor Emails</h1>

<table>
  <thead>
    <tr>
      <th>Send option</th>
      <th>Semester</th>
      <th>Instuctors</th>
      <th>Library</th>
      <th>Message</th>
      <th>Sent date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructor_emails.each do |instructor_email| %>
      <tr>
        <td><%= instructor_email.send_option %></td>
        <td><%= instructor_email.semester %></td>
        <td><%= instructor_email.instuctors %></td>
        <td><%= instructor_email.library %></td>
        <td><%= instructor_email.message %></td>
        <td><%= instructor_email.sent_date %></td>
        <td><%= link_to 'Show', instructor_email %></td>
        <td><%= link_to 'Edit', edit_instructor_email_path(instructor_email) %></td>
        <td><%= link_to 'Destroy', instructor_email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor Email', new_instructor_email_path %>
