<p id="notice"><%= notice %></p>

<p>
  <strong>Send option:</strong>
  <%= @instructor_email.send_option %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @instructor_email.semesters.each { |semester| semester.semester.to_s } %>
</p>

<p>
  <strong>Instuctors:</strong>
  <%= @instructor_email.instuctors %>
</p>

<p>
  <strong>Library:</strong>
  <%= @instructor_email.library.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @instructor_email.message %>
</p>

<p>
  <strong>Sent date:</strong>
  <%= @instructor_email.sent_date %>
</p>

<%= link_to 'Edit', edit_instructor_email_path(@instructor_email) %> |
<%= link_to 'Back', instructor_emails_path %>
