<p>Application for holding materials at IUPUI Univeristy Library.</p>
<% if user_signed_in? %>
  <% if current_user.admin? || current_user.role?(:instructor) %>
    <div class='rvt-p-all-sm'>
      <%= link_to "Add Course", new_course_path, class: 'rvt-button' %>
    </div>
    <div class='rvt-p-all-sm'>
      <%= link_to "List Courses", courses_path, class: 'rvt-button' %>
    </div>
    <% if current_user.admin? %>
    <div class='rvt-p-all-sm'>
      <%= link_to "List Items", items_path, class: 'rvt-button' %>
    </div>
    <div class='rvt-p-all-sm'>
      <%= link_to "Send Email", instructor_emails_path, class: 'rvt-button' %>
    </div>
    <div class='rvt-p-all-sm'>
      <%= link_to "Administer", rails_admin_path, class: 'rvt-button' %>
    </div>
    <p class='rvt-text-bold'>Switch User</p>
    <%= switch_user_select style: 'width: 220px' %>
    <% end %>
  <% else %>
    <p>Go to IUCAT to search for Course Reserve Materials.</p>
  <% end %>
<% else %>
<div class='rvt-p-all-sm'>
  <%= link_to "Sign in with IUCAS", user_cas_omniauth_authorize_path, class: 'rvt-button' %>
</div>
<% end %>
