<%= form_with(model: letter, local: true) do |form| %>
  <% if letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <% if @letter.persisted? %>
  <div class="field">
    <%= form.label :semester, 'Original Semester(s)' %>
    <%= form.collection_select :semester_ids, Semester.all, :id, :semester, { :selected => @letter.semester_ids }, { :disabled => true, :multiple => true, :name => 'letter[semester_ids][]' } %>
 </div>

 <div class="field">
   <%= form.label :library, 'Original Libray' %>
   <%= form.collection_select :library_id, Library.all, :id, :name, {:selected => @letter.library.id}, {:disabled => true} %>
 </div>

  <div class="field">
    <%= form.label :recipient, 'Recipents' %>
    <%= form.text_field :recipient, id: :recipient %>
  </div>
  <% else %>
  <div class="field">
    <%= form.label :semester %>
    <%= form.collection_select :semester_ids, Semester.all, :id, :semester, { :selected => @letter.semester_ids }, { :multiple => true, :name => 'letter[semester_ids][]' } %>
 </div>

 <div class="field">
   <%= form.label :library %>
   <%= form.collection_select :library_id, Library.all, :id, :name %>
 </div>
  <% end %>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :subject %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :letter_message %>
  </div>

  <!--
  <div class="field">
    <%= form.label :sent_date %>
    <%= form.datetime_select :sent_date, id: :letter_sent_date %>
  </div>
  -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
