<div class="rvt-p-all-md">
  <h2>IUCAT Record</h2>
  <table class="rvt-table-compact">
    <caption class="sr-only">IUCAT Record Info</caption>
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Catalog ID
        </th>
        <td>
          <%=  @record.data['001']%>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Title
        </th>
        <td>
          <%= @record.data['245a'].to_s + @record.data['245b'].to_s %>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Author
        </th>
        <td>
          <%= @record.data['245c'] %>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Publication Date
        </th>
        <td>
          <%= @record.data['260c'] %>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Location
        </th>
        <td>
          <%= @record.data['999m'] %>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Book on Demand
        </th>
        <td>
          <%= (@record.data['999n'] == '_ULDEMAND' ? true : false).to_s %>
        </td>
      </tr>
      <tr>
        <th scope="row">

        </th>
        <td>
          <%=  %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
