<p id="notice"><%= notice %></p>

<h1>Items</h1>
<div class="rvt-button-group">
  <%= link_to "All Items", items_path, class: status_class(nil) %>
  <%= link_to "Pending", items_path(status: 'Pending'), class: status_class('Pending') %>
  <%= link_to "Ordering", items_path(status: 'Ordering'), class: status_class('Ordering') %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publication date</th>
      <th>Status</th>
      <th>Publisher</th>
      <th>Edition</th>
      <th>Loan period</th>
      <th>Owner</th>
      <th>Call number</th>
      <th>Note</th>
      <th>Iucat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.author %></td>
        <td><%= item.publication_date %></td>
        <td><%= ItemStatus.find(item.item_status_id).status %></td>
        <td><%= item.publisher %></td>
        <td><%= item.edition %></td>
        <td><%= item.loan_period %></td>
        <td><%= item.owner %></td>
        <td><%= item.call_number %></td>
        <td><%= item.note %></td>
        <td><%= item.iucat_id %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
