<p id="notice"><%= notice %></p>

<h1>Items</h1>

<div id="item-filters">
  <div class="rvt-box">
    <div class="rvt-box__header">
      Filters
    </div>
    <div class="rvt-box__body rvt-m-right-sm">
    <%= search_form_for @q do |f| %>
      <div class="rvt-grid">
        <div class="rvt-grid__item-md">
          <%= f.label :title_or_author_cont, 'Title | Author' %>
          <%= f.search_field :title_or_author_cont %>
        </div>
        <div class="rvt-grid__item-md">
          <%= f.label :course_name_cont, 'Course' %>
          <%= f.search_field :course_name_cont %>
        </div>
        <div class="rvt-grid__item-md">
          <%= f.label :course_semester_semester_cont, 'Semester' %>
          <%= f.select :course_semester_semester_eq, options_from_collection_for_select(Semester.order(id: :desc), 'semester', 'semester', param_course_semester), include_blank: true %>
        </div>
        <div class="rvt-grid__item-md">
          <%= f.label :item_status_id_eq, 'Status' %>
          <%= f.select :item_status_id_eq, options_from_collection_for_select(ItemStatus.all, 'id', 'status', param_item_status), include_blank: true %>
        </div>
        <div class="rvt-grid__item">
          <%= f.submit "Filter", class: 'rvt-button rvt-m-top-md' %>
          <%= link_to 'Reset', items_path, class: 'rvt-button rvt-button--secondary rvt-m-top-md' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :id, 'ID') %></th>
      <th><%= sort_link(@q, :title) %></th>
      <th><%= sort_link(@q, :author) %></th>
      <th><%= sort_link(@q, :course_name, 'Course') %></th>
      <th><%= sort_link(@q, :course_semester_semester, 'Semester') %></th>
      <th><%= sort_link(@q, :status) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= title_iucat_link(item) %></td>
        <td><%= item.author %></td>
        <td><%= link_to Course.find(item.course_id).name, course_path(item.course_id)%></td>
        <td><%= Course.find(item.course_id).semester.semester %></td>
        <td><%= ItemStatus.find(item.item_status_id).status %></td>
        <td>
          <div class='rvt-button-segmented' role='group'>
          <%= link_to 'Show', item, class: 'rvt-button rvt-button--secondary rvt-button--small' %>
          <%= link_to 'Edit', edit_item_path(item), class: 'rvt-button rvt-button--secondary rvt-button--small' %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?'}, class: 'rvt-button rvt-button--secondary rvt-button--small'  %>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Item', new_item_path, class: 'rvt-button' %>

<br/><br/>

<%== pagy_info(@pagy) %>
<%== render '/pagy/nav', locals: {pagy: @pagy} %>
