<p id="notice"><%= notice %></p>
<h3>Item #<%= @item.id %></h3>
<table id="course-table" class="rvt-table-stripes">
  <caption class="sr-only">Course Information</caption>
  <tbody>
    <tr>
      <th scope="row">Title:</th>
      <td><%= @item.title %></td>
    </tr>
    <tr>
      <th scope="row">Author:</th>
      <td><%= @item.author %></td>
    </tr>
    <tr>
      <th scope="row">Publication Date:</th>
      <td><%= @item.publication_date %></td>
    </tr>
    <tr>
      <th scope="row">Status:</th>
      <td><%= ItemStatus.find(@item.item_status_id).status %></td>
    </tr>
    <tr>
      <th scope="row">Edition:</th>
      <td><%= @item.edition %></td>
    </tr>
    <tr>
      <th scope="row">Loan Period:</th>
      <td><%= LoanPeriod.find(@item.loan_period_id).length %></td>
    </tr>
    <tr>
      <th scope="row">Call Number:</th>
      <td><%= @item.call_number %></td>
    </tr>
    <tr>
      <th scope="row">Note:</th>
      <td><%= @item.note %></td>
    </tr>
    <tr>
      <th scope="row">IUCAT Record:</th>
      <td>
        <%= link_to(@item.iucat_id, iucat_link(@item), target: '_blank') if @item.iucat_id %>
      </td>
    </tr>
    <tr>
      <th scope="row">Course:</th>
      <td><%= link_to Course.find(@item.course_id).name, course_path(@item.course_id) %></td>
    </tr>
    <tr>
      <th scope="row">Patron will supply:</th>
      <td><%= "Yes" if @item.will_supply %></td>
    </tr>
    <tr>
      <th scope="row">Please purchase:</th>
      <td><%= "Yes" if @item.purchase %></td>
    </tr>
  </tbody>
</table>

<% if current_user.admin? %>
<div class="rvt-button-group rvt-p-top-md">
  <%= link_to 'Edit', edit_item_path(@item), class: 'rvt-button rvt-button--small' %>
  <%= link_to 'Tag', item_path(format: :pdf), target: 'blank', class: 'rvt-button rvt-button--small rvt-button--secondary' %>
  <%= link_to 'Back', :back, class: 'rvt-button rvt-button--small rvt-button--secondary' %>
</div>
<% else %>
<div class="rvt-button-group rvt-p-top-md">
  <%= link_to 'Back', :back, class: 'rvt-button rvt-button--small' %>
</div>
<% end %>
