<%= form.nested_fields_for :items do |item_form| %>
<div class='rvt-border-all rvt-border-radius rvt-m-bottom-sm rvt-p-all-md'>
  <div class="add_items rvt-container">
    <div class="rvt-grid iucat-data" style="">
      <div class='rvt-grid__item-12-sm-up rvt-grid__item-2-md-up rvt-grid__item-1-lg-up rvt-p-bottom-md'>
        <button id="iucat_data___nested_field_for_replace_with_index__" class="rvt-button" onclick="fetchMetadata(__nested_field_for_replace_with_index__);return false;" disabled>IUCAT Data</button>
      </div>
      <div class='rvt-grid__item-12-sm-up rvt-grid__item-10-md-up rvt-grid__item-11-lg-up rvt-p-bottom-md'>
        <%= item_form.text_field :iucat_id, placeholder: "Optionally fetch data from IUCAT URL or record ID.", onkeyup: "checkIUCAT(__nested_field_for_replace_with_index__);" %>
      </div>
    </div>
    <div class="rvt-grid">
      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= item_form.label :title %>
        <%= item_form.text_field :title %>
      </div>
      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= item_form.label :author %>
        <%= item_form.text_field :author %>
      </div>
      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= item_form.label :publication_date %>
        <%= item_form.text_field :publication_date %>
      </div>
    </div>
    <div class="rvt-grid">
      <div class='rvt-grid__item-12-sm-up rvt-grid__item-12-md-up rvt-grid__item-12-xxl-up  rvt-p-bottom-md'>
        <%= item_form.remove_nested_fields_link 'Remove Item x', class: 'rvt-button rvt-button--danger' %>
      </div>
    </div>
  </div>
</div>
<% end %>
