<%= form.nested_fields_for :items do |item_form| %>
<div class='rvt-border-all rvt-border-radius rvt-m-bottom-sm rvt-p-all-md'>
  <div class="add_items rvt-container">
    <div class="rvt-grid iucat-data" style="">
      <div class='rvt-grid__item-12-sm-up rvt-grid__item-2-md-up rvt-grid__item-1-lg-up rvt-p-bottom-md'>
        <button id="iucat_data___nested_field_for_replace_with_index__" class="rvt-button" onclick="fetchMetadata(__nested_field_for_replace_with_index__);return false;" disabled>IUCAT Data</button>
      </div>
      <div class='rvt-grid__item-12-sm-up rvt-grid__item-10-md-up rvt-grid__item-11-lg-up rvt-p-bottom-md'>
        <%= item_form.text_field :iucat_id, placeholder: "Optionally fetch data from IUCAT URL or record ID.", onkeyup: "checkIUCAT(__nested_field_for_replace_with_index__);" %>
      </div>
    </div>
    <div class="rvt-grid">
      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= item_form.label :title %>
        <%= item_form.text_field :title %>
      </div>
      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= item_form.label :author %>
        <%= item_form.text_field :author %>
      </div>
      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= item_form.label :publication_date %>
        <%= item_form.text_field :publication_date %>
      </div>
      <% if current_user.admin? %>
      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= item_form.label :item_status %>
        <%= item_form.collection_select :item_status_id, ItemStatus.all, :id, :status %>
      </div>
      <% end %>
    </div>
    <div class="rvt-grid">
      <div class='rvt-grid__item-12-sm-up rvt-grid__item-12-md-up rvt-grid__item-12-xxl-up  rvt-p-bottom-md'>
        <%= item_form.remove_nested_fields_link 'Remove Item x', class: 'rvt-button rvt-button--danger' %>
      </div>
    </div>
  </div>
</div>
<div class = "rvt-modal"
     id = "modal-bod"
     role = "dialog"
     aria-labelledby="modal-dialog-title"
     aria-hidden="true"
     tabindex=-1
     data-modal-dialog="true">
  <div class="rvt-modal__inner">
    <header class="rvt-modal__header">
      <h1>Books on Demand Item</h1>
    </header>
    <div class="rvt-modal__body">
      <p>
        This is a Books on Demand item.
        The library will order this book
        on your behalf. In most cases,
        the book can be ordered as either
        in print or electonic form.
        Please indicate which format
        you woudl prefer.
      </p>
    </div>
    <div class="rvt-modal__controls">
      <button class="rvt-button">eBook</button>
      <button class="rvt-button rvt-button--secondary" data-modal-close="modal-bod">Print Book</button>
      <button class="rvt-button rvt-button--secondary" data-modal-close="modal-bod">Cancel</button>
    </div>
  </div>
</div>
<div class = "rvt-modal"
     id = "modal-local"
     role = "dialog"
     aria-labelledby="modal-dialog-title"
     aria-hidden="true"
     tabindex=-1
     data-modal-dialog="true">
  <div class="rvt-modal__inner">
    <header class="rvt-modal__header">
      <h1>Item Not Available</h1>
    </header>
    <div class="rvt-modal__body">
      <p>
        The item you are trying
        to request is not available
        through IUPUI University
        Library or through the Herron
        Art Library.
      </p>
    </div>
    <div class="rvt-modal__controls">
      <button class="rvt-button rvt-button--secondary" data-modal-close="modal-local">Close</button>
    </div>
  </div>
</div>



<% end %>
