<%= form_for @course do |form| %>
<%#= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="rvt-container">
    <div class="rvt-grid">

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :name %>
        <%= form.text_field :name, id: :course_name %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :course_number %>
        <%= form.text_field :course_number, id: :course_course_number %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :instructor %>
        <%= form.text_field :instructor, id: :course_instructor %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :instructor_username %>
        <%= form.text_field :instructor_username, id: :course_instructor_username %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :library %>
        <%= form.text_field :library, id: :course_library %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :semester %>
        <%= form.collection_select :semester_id, Semester.active, :id, :semester %>
      </div>
    </div>
  </div>

  <%= render 'add_items', form: form %>

  <div class='rvt-p-all-sm'>
    <%= form.add_nested_fields_link :items, 'Add item +', class: 'rvt-button' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Course', class: 'rvt-button' %>
  </div>
<% end %>
