<%= form_for @course, html: {role: 'check-modified'} do |form| %>
<%#= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="rvt-container">
    <div class="rvt-grid">
      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :name do %>
            Course Name <%= fa_icon 'asterisk' %>
        <% end %>
        <%= form.text_field :name, id: :course_name, class: 'enterastab' %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :course_number do %>
          Course number <%= fa_icon 'asterisk' %>
        <% end %>
        <%= form.text_field :course_number, id: :course_course_number, class: 'enterastab', placeholder: 'example: X101, W131' %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :department_name do %>
          Department <%= fa_icon 'asterisk' %>
        <% end %>
        <%= form.text_field :department_name, class: 'enterastab', placeholder: 'Enter department...', data: {autocomplete_source: Department.order(:name).active.map(&:name)} %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :instructor do %>
          Instructor <%= fa_icon 'asterisk' %>
        <% end %>
        <%= form.text_field :instructor, id: :course_instructor, class: 'enterastab' %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :instructor_username do %>
          Instructor username <%= fa_icon 'asterisk' %>
        <% end %>
        <%= form.text_field :instructor_username, id: :course_instructor_username, class: 'enterastab' %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :instructor_email do %>
          Instructor email <%= fa_icon 'asterisk' %>
        <% end %>
        <%= form.text_field :instructor_email, id: :course_instructor_email, class: 'enterastab' %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :library %>
        <%= form.collection_select :library_id, Library.where.not(name: 'All'), :id, :name, {}, {class: 'enterastab'} %>
      </div>

      <div class="field rvt-grid__item-6-md-up rvt-grid__item-4-lg-up">
        <%= form.label :semester %>
        <%= form.collection_select :semester_id, Semester.active, :id, :semester, {}, {class: 'enterastab'} %>
      </div>

      <div class="rvt-grid__item-12 rvt-p-all-md">
        <%= fa_icon 'asterisk' %> indicates required.
      </div>
    </div>
  </div>



  <%= render 'bod_modal' %>
  <%= render 'non-iupui_modal' %>
  <%= render 'ebook_modal' %>
  <%= render 'add_items', form: form %>

  <div class='rvt-p-all-sm'>
    <%= form.add_nested_fields_link :items, 'Add item +', class: 'rvt-button' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Course', class: 'rvt-button', id: 'course_submit' %>
  </div>
<% end %>
