<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<div id="course-filters">
  <div class="rvt-box">
    <div class="rvt-box__header">
      Filters
    </div>
    <div class="rvt-box__body rvt-m-right-sm">
    <%= search_form_for @q do |f| %>
      <div class="rvt-grid">
        <div class="rvt-grid__item-md">
          <%= f.label :name_or_course_number_cont, 'Name|Number' %>
          <%= f.search_field :name_or_course_number_cont %>
        </div>
        <div class="rvt-grid__item-md">
          <%= f.label :department_name_cont, 'Department' %>
          <%= f.search_field :department_name_cont %>
        </div>
        <div class="rvt-grid__item-md">
          <%= f.label :instructor_or_instructor_username_cont, 'Instructor|Username' %>
          <%= f.search_field :instructor_or_instructor_username_cont %>
        </div>
        <div class="rvt-grid__item-md">
          <%= f.label :libary_id_eq, 'Library' %>
          <%= f.select :library_id_eq, options_from_collection_for_select(Library.all, 'id', 'name', param_library), include_blank: true %>
        </div>
        <div class="rvt-grid__item-md">
          <%= f.label :semester_id_eq, 'Semester' %>
          <%= f.select :semester_id_eq, options_from_collection_for_select(Semester.all, 'id', 'semester', param_semester), include_blank: true %>
        </div>
        <div class="rvt-grid__item">
          <br/>
          <%= f.submit "Filter", class: "rvt-button" %>
          <%= link_to 'Reset', courses_path, class: 'rvt-button rvt-button--secondary' %>
        </div>
    <% end %>
    </div>
  </div>
</div>

<div class="spacer" style="padding-top:20px;"></div>

<div class="course-table">
  <table class="rvt-table-compact">
    <thead>
      <tr>
        <th><%= sort_link(@q, :name) %></th>
        <th><%= sort_link(@q, :course_number, 'Number') %></th>
        <th><%= sort_link(@q, :department_name, 'Department') %></th>
        <th><%= sort_link(@q, :instructor) %></th>
        <th><%= sort_link(@q, :instructor_username, 'Username') %></th>
        <th><%= sort_link(@q, :library_name) %></th>
        <th><%= sort_link(@q, :semester_semester, 'Semester') %></th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= course.course_number %></td>
          <td><%= course.department_name %></td>
          <td><%= course.instructor %></td>
          <td><%= course.instructor_username %></td>
          <td><%= course.library.name %></td>
          <td><%= course.semester.semester %></td>
          <td>
            <div class='rvt-button-segmented' role='group'>
            <%= link_to 'Show', course, class: 'rvt-button rvt-button--secondary rvt-button--small' %>
            <%= link_to 'Edit', edit_course_path(course), class: 'rvt-button rvt-button--secondary rvt-button--small' %>
            <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?'}, class: 'rvt-button rvt-button--secondary rvt-button--small'  %>
            </div>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>

  <%= link_to 'New Course', new_course_path, class: 'rvt-button' %>

  <br/><br/>

  <%== pagy_info(@pagy) %>
  <%== render '/pagy/nav', locals: {pagy: @pagy} %>
</div>
