<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<p>
  <strong>Instructor username:</strong>
  <%= @course.instructor_username %>
</p>

<p>
  <strong>Library:</strong>
  <%= @course.library %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>

<h3>Items</h3>

<ul>
<% @course.items.each  do |item| %>
  <li><%= item.title.to_s %></li>
<% end %>
</ul>

<div class="rvt-button-group rvt-border-top rvt-p-top-md">
  <%= link_to 'Edit', edit_course_path(@course), class: 'rvt-button rvt-button--small'  %>
  <%= link_to 'Back', courses_path, class: 'rvt-button rvt-button--small rvt-button--secondary' %>
</div>
