<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<p>
  <strong>Instructor username:</strong>
  <%= @course.instructor_username %>
</p>

<p>
  <strong>Library:</strong>
  <%= @course.library %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
