<p id="notice"><%= notice %></p>
<h3>Course</h3>
<table class="rvt-table-stripes">
  <caption class="sr-only">Course Information</caption>
  <tbody>
    <tr>
      <th scope="row">Name:</th>
      <td><%= @course.name %></td>
    </tr>

    <tr>
      <th scope="row">Course number:</th>
      <td><%= @course.course_number %></td>
    </tr>

    <tr>
      <th scope="row">Instructor:</th>
      <td><%= @course.instructor %></td>
    </tr>

    <tr>
      <th scope="row">Instructor Username:</th>
      <td><%= @course.instructor_username %></td>
    </tr>

    <tr>
      <th scope="row">Library:</th>
      <td><%= @course.library %></td>
    </tr>

    <tr>
      <th scope="row">Semester:</th>
      <td><%= @course.semester %></td>
    </tr>
  </tbody>
</table>

<h3>Items</h3>

<ul>
  <%= render @course.items %>
</ul>

<div class="rvt-button-group rvt-p-top-md">
  <%= link_to 'Edit', edit_course_path(@course), class: 'rvt-button rvt-button--small'  %>
  <%= link_to 'Back', courses_path, class: 'rvt-button rvt-button--small rvt-button--secondary' %>
</div>
