<p id="notice"><%= notice %></p>
<h3>Course #<%= @course.id %></h3>
<table id="course-table" class="rvt-table-stripes">
  <caption class="sr-only">Course Information</caption>
  <tbody>
    <tr>
      <th scope="row">Name:</th>
      <td><%= @course.name %></td>
    </tr>

    <tr>
      <th scope="row">Course number:</th>
      <td><%= @course.course_number %></td>
    </tr>

    <tr>
      <th scope="row">Department:</th>
      <td><%= @course.department.name %></td>
    </tr>

    <tr>
      <th scope="row">Instructor:</th>
      <td><%= @course.instructor %></td>
    </tr>

    <tr>
      <th scope="row">Instructor Username:</th>
      <td><%= @course.instructor_username %></td>
    </tr>

    <tr>
      <th scope="row">Instructor Email:</th>
      <td><%= @course.instructor_email %></td>
    </tr>

    <tr>
      <th scope="row">Library:</th>
      <td><%= @course.library.name %></td>
    </tr>

    <tr>
      <th scope="row">Semester:</th>
      <td><%= @course.semester.semester %></td>
    </tr>
  </tbody>
</table>

<h3>Items</h3>

<ul id='item-list'>
  <%= render @course.items %>
  <li class="rvt-button-group">
    <%= link_to available_course_path(@course), class: 'rvt-button rvt-button--small'  do %>
      <%= fa_icon 'plus-circle' %> &nbsp; All Available
    <% end %>
    <%= link_to expired_course_path(@course), class: 'rvt-button rvt-button--small rvt-button--danger' do %>
      <%= fa_icon 'minus-circle' %> &nbsp; All Expired
    <% end %>
</ul>

<div class="rvt-button-group rvt-p-top-md">
  <%= link_to 'Edit', edit_course_path(@course), class: 'rvt-button rvt-button--small' %>
  <%= link_to 'Back', :back, class: 'rvt-button rvt-button--small rvt-button--secondary' %>
</div>
