<!DOCTYPE html>
<html>
  <head>
    <title>CourseReserves</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://assets.uits.iu.edu/css/rivet/1.0.0/rivet.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main role="main" id="main-content">
      <%= render "layouts/notice" if notice %>
      
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
    <script src="https://assets.uits.iu.edu/javascript/rivet/1.0.0/rivet.min.js"></script>
  </body>
</html>
